#virtual env
torchenv/
myenv/

#models directory. Consider adding exceptions for recent models
models/
trained_models/
files/

#old files
archive/

#various packages + misc
accelerate/
zreion/
__pycache__/
.ipynb_checkpoints/
21cmFAST-git/
FoF-Halo-finder/
ReionYuga/
N-Body/

#bash scripts
*.sh

#YML
*.yml

#out files
*.out*
*.err*

#images
*.png

#Jupyter notebooks
*.ipynb

#too big
wedge_filter.npz
*.npz
